* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgb(77, 77, 207);
    height: 65px;
    display: flex;
    align-items: center;
}

.headerLogo {
    margin: 48px;
}

.logo {
    margin-top: 2px;
    height: 50px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 12px;
}

.loginButton {
    background-color: white;
    border: 1px solid black;
    padding: 8px 50px;
    margin: 12px 256px 12px 12px;
}

.loginText {
    color: black;
    text-decoration: none;
}

main {
    margin: 2vh 0.5vw;
}

/* ===================== Team creation page =====================*/
.createTeamForm {
    background-color: rgb(112, 195, 255);
    min-height: 65vh;
    padding: 5vh 3vw;
}

.createTeamForm table {
    width: 80%;
    margin-bottom: 3vh;
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

.createTeamForm thead {
    background-color: rgb(77, 77, 207);
    color: white;
}

.createTeamForm tbody {
    color: white;
}

.createTeamForm th {
    font-weight: normal;
    border: 1px solid rgb(0, 0, 0);
}

.createTeamForm th,
td {
    font-size: 1.5rem;
}

.createTeamForm td {
    border: 1px solid rgb(181, 181, 181);
}

td input,
th button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

#itemButton {
    height: 5vh;
    width: 0.8vw;
    cursor: pointer;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 1.4rem;
    padding-bottom: 2vh;
}

input[type="submit"] {
    background-color: rgb(77, 77, 207);
    font-size: 1.2rem;
    padding: 0.8vh 0.8vw;
    color: white;
    border: 1px solid rgb(68, 68, 68);
}

/* ===================== Login/ Registration page =====================*/
.loginForm, .registerForm, .resetForm {
    margin-top: 20px;
    margin-left: 200px;
    padding: 10px;
}

.nameInput, .emailInput, .passwordInput {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
}

.input {
    padding: 5px;
}

.formButton {
    margin: 10px;
    padding: 5px 15px;
}

.formText, .forgotPassword, .registerAccount {
    padding: 10px;
}
