* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: blue;
    height: 96px;
    display: flex;
    align-items: center;
}

.headerLogo {
    margin: 48px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 12px;
}

.loginButton {
    margin: 12px 256px 12px 12px;
}

/* ===================== Login/ Registration page =====================*/
.loginForm, .registerForm, .resetForm {
    margin-top: 20px;
    margin-left: 200px;
    padding: 10px;
}

.nameInput, .emailInput, .passwordInput {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
}

.input {
    padding: 5px;
}

.formButton {
    margin: 10px;
    padding: 5px 15px;
}

.formText, .forgotPassword, .registerAccount {
    padding: 10px;
}
