:root {
    --color-black: black;
    --color-white: white;
    --hover-color: rgb(207, 207, 207);
    --main-blue: rgb(77, 77, 207);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    background-color: var(--main-blue);
    align-items: center;
    height: 65px;
    display: flex;
}

.headerLogo {
    margin: 48px;
}

.logo {
    height: 50px;
    margin-top: 2px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 12px;
}

.navText {
    color: var(--color-white);
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;

    &:hover {
        color: var(--hover-color)
    }
}

.loginButton {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 8px 50px;
    margin: 12px 256px 12px 12px;

    &:hover {
        background-color: var(--hover-color);
    }
}

.loginText {
    color: var(--color-black);
    text-decoration: none;
    font-size: 18px;
}

main {
    margin: 2vh 0.5vw;
}

.backgroundColor {
    background-color: rgb(112, 195, 255);
    min-height: 65vh;
    padding: 5vh 3vw;
}

/* ===================== Main table css =====================*/
table {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 3vh;
}

thead {
    background-color: var(--main-blue);;
    color: var(--color-white);
}

tbody {
    color: var(--color-black);
    text-align: center;
}

th {
    border: 1px solid var(--color-black);
    font-weight: normal;
    padding: 2px;
}

th,
td {
    font-size: 1.5rem;
}

td {
    border: 1px solid rgb(181, 181, 181);
    font-size: 1.2rem;
    padding: 2px;
}

td input,
th button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* ===================== Main form css =====================*/
.formGroup {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 50%;
    padding-bottom: 2vh;
}

input[type="submit"], .formButton {
    background-color: var(--main-blue);;
    border: 1px solid var(--color-black);
    color: var(--color-white);
    font-size: 1.2rem;
    padding: 0.8vh 0.8vw;
    text-decoration: none;
    cursor: pointer;
}

#itemButton {
    width: 0.8vw;
    cursor: pointer;
}

/* ===================== Login/ Registration page =====================*/
.input {
    padding: 5px;
    width: 300px;
}

.forgotPassword, .registerAccount {
    color: var(--color-black);
    padding: 10px;

    &:hover {
        color: var(--main-blue);
    }
}

.formText {
    margin-bottom: 20px;
}

/* ===================== Homepage ===================== */
.homepage {
    display: grid;
    grid-template-columns: 80% 20%;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

.options p, .options a {
    background: var(--main-blue);;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}

/* === Referee part (adding score) === */
.scoreTable {
    width: 250px;
    padding: 0px 5px;
}

.scoreInput {
    width: 50px;
    text-align: center;
}

.scoreSubmit {
    color: var(--color-black);
    width: 100px;

    &:hover {
        color: var(--main-blue);
        cursor: pointer;
    }
}

.scoreDivider {
    margin-right: 15px;
}


/* ===================== Team overview/ edit ===================== */
.teamTable {
    width: 50%;
}

.teamName, .teamTournaments {
    font-weight: 300;
    margin-bottom: 20px;
}

.teamTournaments {
    margin-top: 50px;
}

.number {
    width: 200px;
}


/* ===================== Adminpanel ===================== */
.adminButtons, .tournamentButton{
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
    text-decoration: none;
    padding: 8px 50px;

    &:hover {
        background-color: var(--hover-color);
    }
}

.newTournament {
    margin-top: 50px;
    margin-bottom: 20px;
}

.edit, .view {
    color: var(--color-black);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* === Tournament view   === */
.teamsTable, .gridItem {
    margin-top: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
}

.gridItem h2 {
    font-weight: normal;
}

.gridItem p {
    margin-bottom: 20px;
}

.delete, .enroll {
    background-color: var(--color-white) !important;
    border: none !important;
    color: var(--color-black) !important;
    padding: 0px !important;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

/* === Tournament creation === */
.textInput {
    width: 300px;
}

.numberInput {
    text-align: center;
    width: 150px;
}
