*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: blue;
    height: 96px;
    display: flex;
    align-items: center;
}

.headerLogo{
    margin: 48px;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 12px;
}

.loginButton{
    margin: 12px 256px 12px 12px;
}
